/* god theme: Call me to include god in your SASS projects.*/
/* pillar_containment and pillar_padding can be called and managed by pillaraged */
/* Useful sizes.*/
/* Useful font percents.*/
body, main {
  padding: 0; }
  body > h1, body > h2, body > h3, body > h4, body > h5, body > p, body > ul, body > ol, body > dl, body > table, main > h1, main > h2, main > h3, main > h4, main > h5, main > p, main > ul, main > ol, main > dl, main > table {
    margin: 0 33.5% 0 33.5% !important;
    padding: 12px 1% !important;
    box-sizing: border-box !important;
    display: block;
    float: none; }
  body > h1, main > h1 {
    font-size: 400%;
    transition: 0.5s; }
  body > h2, main > h2 {
    font-size: 267%;
    transition: 0.5s; }
  body > h3, main > h3 {
    font-size: 187%;
    transition: 0.5s; }
  body > h4, main > h4 {
    font-size: 133%;
    transition: 0.5s; }
  body > h5, main > h5 {
    font-size: 107%;
    transition: 0.5s; }
  body > h6, main > h6 {
    font-size: 80%;
    transition: 0.5s; }
  @media screen and (min-width: 900px) and (max-width: 1201px) {
    body > h1, body > h2, body > h3, body > h4, body > h5, body > p, body > ul, body > ol, body > dl, body > table, main > h1, main > h2, main > h3, main > h4, main > h5, main > p, main > ul, main > ol, main > dl, main > table {
      margin: 0 17% 0 17% !important;
      padding: 6px 0.5% !important; }
    body > h1, main > h1 {
      font-size: 240% !important; }
    body > h2, main > h2 {
      font-size: 173% !important; }
    body > h3, main > h3 {
      font-size: 133% !important; }
    body > h4, main > h4 {
      font-size: 107% !important; }
    body > h5, main > h5 {
      font-size: 93% !important; }
    body > h6, main > h6 {
      font-size: 80% !important; } }
  @media screen and (min-width: 600px) and (max-width: 901px) {
    body > h1, body > h2, body > h3, body > h4, body > h5, body > p, body > ul, body > ol, body > dl, body > table, main > h1, main > h2, main > h3, main > h4, main > h5, main > p, main > ul, main > ol, main > dl, main > table {
      margin: 0 11.5% 0 11.5% !important;
      padding: 4px 0.33333% !important; }
    body > h1, main > h1 {
      font-size: 187% !important; }
    body > h2, main > h2 {
      font-size: 142% !important; }
    body > h3, main > h3 {
      font-size: 116% !important; }
    body > h4, main > h4 {
      font-size: 98% !important; }
    body > h5, main > h5 {
      font-size: 89% !important; }
    body > h6, main > h6 {
      font-size: 80% !important; } }
  @media screen and (min-width: 0px) and (max-width: 601px) {
    body > h1, body > h2, body > h3, body > h4, body > h5, body > p, body > ul, body > ol, body > dl, body > table, main > h1, main > h2, main > h3, main > h4, main > h5, main > p, main > ul, main > ol, main > dl, main > table {
      margin: 0 8.75% 0 8.75% !important;
      padding: 3px 0.25% !important; }
    body > h1, main > h1 {
      font-size: 160% !important; }
    body > h2, main > h2 {
      font-size: 127% !important; }
    body > h3, main > h3 {
      font-size: 107% !important; }
    body > h4, main > h4 {
      font-size: 93% !important; }
    body > h5, main > h5 {
      font-size: 87% !important; }
    body > h6, main > h6 {
      font-size: 80% !important; } }
  body > blockquote, body > h6, body > summary, main > blockquote, main > h6, main > summary {
    box-sizing: border-box !important;
    display: inline-block;
    margin: 0 0 12px !important;
    padding: 12px 1% !important;
    width: 33% !important;
    break-before: always !important;
    /* give way on right */
    clear: right;
    float: right; }
  @media screen and (min-width: 1px) and (max-width: 600px) {
    body > blockquote, body > h6, body > summary, main > blockquote, main > h6, main > summary {
      margin-left: 0px !important;
      transition: 0.5s; }
      body > blockquote > *, body > h6 > *, body > summary > *, main > blockquote > *, main > h6 > *, main > summary > * {
        transition: 0.5s; } }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    body > blockquote, body > h6, body > summary, main > blockquote, main > h6, main > summary {
      margin-left: 12px !important;
      transition: 0.5s; }
      body > blockquote > *, body > h6 > *, body > summary > *, main > blockquote > *, main > h6 > *, main > summary > * {
        transition: 0.5s; } }
  @media screen and (min-width: 901px) and (max-width: 1200px) {
    body > blockquote, body > h6, body > summary, main > blockquote, main > h6, main > summary {
      margin-left: 24px !important;
      transition: 0.5s; }
      body > blockquote > *, body > h6 > *, body > summary > *, main > blockquote > *, main > h6 > *, main > summary > * {
        transition: 0.5s; } }
  body > nav, body > aside, body > details, main > nav, main > aside, main > details {
    box-sizing: border-box !important;
    display: inline-block;
    margin: 0 0 12px !important;
    padding: 12px 1% !important;
    width: 33% !important;
    clear: left;
    float: left; }
  @media screen and (min-width: 1px) and (max-width: 600px) {
    body > nav, body > aside, body > details, main > nav, main > aside, main > details {
      margin-right: 0px !important;
      transition: 0.5s; }
      body > nav > *, body > aside > *, body > details > *, main > nav > *, main > aside > *, main > details > * {
        transition: 0.5s; } }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    body > nav, body > aside, body > details, main > nav, main > aside, main > details {
      margin-right: 12px !important;
      transition: 0.5s; }
      body > nav > *, body > aside > *, body > details > *, main > nav > *, main > aside > *, main > details > * {
        transition: 0.5s; } }
  @media screen and (min-width: 901px) and (max-width: 1200px) {
    body > nav, body > aside, body > details, main > nav, main > aside, main > details {
      margin-right: 24px !important;
      transition: 0.5s; }
      body > nav > *, body > aside > *, body > details > *, main > nav > *, main > aside > *, main > details > * {
        transition: 0.5s; } }
  @media (max-width: 600px) {
    body > blockquote, body > h6, body > summary, body > nav, body > aside, body > details, main > blockquote, main > h6, main > summary, main > nav, main > aside, main > details {
      box-sizing: border-box !important;
      display: inline-block;
      margin: 0 0 12px !important;
      padding: 12px 12px !important;
      width: 100% !important;
      box-sizing: border-box !important;
      display: block !important;
      float: none !important;
      text-align: left !important; } }
  @media screen and (min-width: 1px) and (max-width: 600px) {
    body > blockquote, body > h6, body > summary, body > nav, body > aside, body > details, main > blockquote, main > h6, main > summary, main > nav, main > aside, main > details {
      margin-bottom: 12px !important; } }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    body > blockquote, body > h6, body > summary, body > nav, body > aside, body > details, main > blockquote, main > h6, main > summary, main > nav, main > aside, main > details {
      margin-bottom: 24px !important; } }
  @media screen and (min-width: 901px) and (max-width: 1200px) {
    body > blockquote, body > h6, body > summary, body > nav, body > aside, body > details, main > blockquote, main > h6, main > summary, main > nav, main > aside, main > details {
      margin-bottom: 36px !important; } }
  @media screen and (min-width: 1201px) and (max-width: 5000px) {
    body > blockquote, body > h6, body > summary, body > nav, body > aside, body > details, main > blockquote, main > h6, main > summary, main > nav, main > aside, main > details {
      margin-bottom: 48px !important; } }
  body > ul,
  body > ol, main > ul,
  main > ol {
    overflow: hidden !important; }
    body > ul li,
    body > ol li, main > ul li,
    main > ol li {
      list-style-position: inside !important; }

body {
  font-family: serif;
  font-size: 14pt; }

h1 {
  font-family: sans-serif; }

h2 {
  font-family: sans-serif; }

h3 {
  font-family: sans-serif; }

h4 {
  font-family: sans-serif; }

h5 {
  font-family: sans-serif; }

h6 {
  font-family: sans-serif; }
