@import "../../stylesheets/mixins/example";
@include test("@mixin example()") {
  @include assert("Correctly placed parameters.") {
    @include output {
      @include example();
    }
    @include expect {
      border: 4px hotpink dashed;
    }
  }
}
