/// genesis theme
/// ============================================================================
/// This is your theme file. Other elioSinners can use this theme by importing
/// it into their `judge.scss` file. They provide their own settings.
///
/// @example
///
/// @import "./node_modules/@elioway/genesis/stylesheets/theme";
/// ============================================================================
// import your elioSin functions and mixins here.
@import "functions/eyeishere";
@import "mixins/example";

body {
  font-family: $god-body;
  font-size: 14pt;
}

@for $i from 1 through 6 {
  #{h + $i} {
    font-family: $god-head;
  }
}

$container: sl-to-list($container, comma);
#{$container} > {
  // import your elioSin styles here
  @import "pillar";
  @import "heaven";
  @import "hell";
  // Ensure these tags are in the $pillar setting
  @import "h1/pillar";
  @import "h2/pillar";
  @import "h3/pillar";
  @import "h4/pillar";
  @import "h5/pillar";
  @import "p/pillar";
  @import "ul/pillar";
  @import "ol/pillar";
  @import "dl/pillar";
  @import "table/pillar";

  // Ensure these tags are in the $heaven setting
  @import "blockquote/heaven";
  @import "h6/heaven";
  @import "summary/heaven";

  // Ensure these tags are in the $hell setting
  @import "nav/hell";
  @import "aside/hell";
  @import "details/hell";

}
